
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }
        .container {
            background-color: #6a1b9a;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            text-align: center;
            color: #fff;
        }
        img {
            max-width: 150px;
            height: auto;
            margin-bottom: 20px;
            border-radius: 50%;
            border: 5px solid #fff;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        a {
            background-color: #ffb300;
            color: #fff;
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 1rem;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        a:hover {
            background-color: #ff8f00;
        }
    